@media only screen and (min-width: 400px) and (max-width: 450px) {
  .cr {
    padding-left: 73%;
  }
  
  body {
    border: 1px solid black;
    margin: 15px;
    height: 90vh;
  }

  .buttons {
    margin: 125px;
  }

  #toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
  }

  .toast {
    width: 300px;
    height: 50px;
  }

  .toast i {
    margin: 0 20px;
    font-size: 25px;
    color: green;
  }
  .toast::after {
    height: 2px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 400px) {
  body {
    border: 1px solid black;
    margin: 15px;
    height: 90vh;
  }

  .buttons {
    margin: 125px;
  }

  #toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
  }

  .toast {
    width: 300px;
    height: 50px;
  }

  .toast i {
    margin: 0 20px;
    font-size: 25px;
    color: green;
  }
  .toast::after {
    height: 2px;
  }
}
